# Virtual environment
.venv/

# PyInstaller
build/
dist/
*.spec

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Runtime files
config.json
device.log
# IDE/editor files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store